<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.iu.boot3.product.ProductMapper">
	<insert id="setAdd" parameterType="ProductVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO PRODUCT(NUM, NAME, PRICE, COUNT, DETAIL)
		VALUES(NULL,#{name},#{price},#{count},#{detail})
	</insert>
	
	<select id="getList" resultType="ProductVO" parameterType="Pager">
		SELECT*FROM PRODUCT
		WHERE NUM>0 AND
		<choose>
			<when test="kind == 'col1'">
 				NAME
 			</when> 		
		</choose>
		LIKE CONCAT('%', #{search},'%')
		ORDER BY NUM DESC
		LIMIT #{startRow}, #{perPage}
	</select>

</mapper>